  <link rel="stylesheet" href="{{css}}">
</head>

<body>
<nav class="navbar">
  <div class="navbar-container">
    <a href="{{link-home}}" class="navbar-logo">Fatec Meet</a>

    <div class="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>

    <!-- dark mode -->
    <div class="navbar-user-area">
      <label for="theme-switch">Modo:</label>
      <div class="theme-toggle">
        <input type="checkbox" id="theme-switch">
        <label for="theme-switch" class="switch"></label>
      </div>
    </div>

    <!-- Botões de navegação -->
    <div class="navbar-links">
      <a href="{{link-home}}" class="navbar-item">Página inicial</a>
      <a href="{{link-buscar}}" class="navbar-item">Buscar</a>
      <a href="{{link-postar}}" class="navbar-item">Postar</a>
      <a href="{{link-perfil}}" class="navbar-item">Perfil</a>
    </div>

    <!-- Área do usuário -->
    {{navbar-user-area}}
  </div>
</nav>

<!-- Script do modo escuro (pode ficar aqui mesmo) -->
{{dark-mode}}

<!-- Vlibras -->
{{vlibras}}