spring:
  datasource:
    url: jdbc:mysql://mysql:3306/fatecmeets
    username: fatec
    password: fatec123
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect